.header {
  height: 13%
}

.header-inner {  
  position: relative;
  width: 100%;  
  border: 4px solid rgb(89, 56, 206);  
  height: 75%;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 1px 8px rgba(36, 166, 189, 0.25);
}
  
.header-item{
  margin: 0;
  text-align: center;
  color: rgb(93, 156, 207);
}

.checkbox {
  position: relative;
}

/* .checkbox__label {
  font-size: 1em;
  color: rgb(7, 49, 88);
} */