p {
    margin: 0;
  }
  
  hr {
    border: none;
    background-color: rgb(219, 61, 193);
    height: 1px;
  }
  
  .card {
    margin: 10px;
    padding: 5px;
    width: 33%;
    height: 25%;
    border: 3px solid rgb(34, 233, 34);
  }
  
  .card-item {
      margin: 10px;
      padding: 5px;
      width: 33%;
      height: 25%;
      background: aquamarine;
      border: 3px solid rgb(233, 34, 183);
    }
  
  .card-inner__caption {
    display: flex;
    margin-right: 5px;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-caption {
    margin: 0;
    padding-left: 10px;
    color: rgb(183, 231, 95);
  }
    